@page "{id:int}"
@model projecten2.Areas.Identity.Pages.Streaming.BufferedMultipleFileUploadDbModel
@{ ViewData["Title"] = "Bijlage toevoegen"; }

<h2>Bijlage toevoegen</h2>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.Note"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.Note" type="text" />
            <span asp-validation-for="FileUpload.Note"></span>
        </dd>
        <dt>
            <label>Bestand</label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFiles" type="file" multiple />
            <span asp-validation-for="FileUpload.FormFiles"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn btn-primary border-0" type="submit" value="Upload" style='background: #cad50c'/>
    <a asp-area="" asp-controller="Ticket" asp-action="Index" class="btn btn-secondary border-0">Terug</a>
</form>

<p class="result">
    @Model.Result
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}