@page "{id:int}"
@model projecten2.Areas.Identity.Pages.Streaming.DeleteDbFileModel
@{ ViewData["Title"] = "Bestand verwijderen"; }

<h2>Bestand verwijderen</h2>

<p class="lead font-weight-normal" >Weet u zeker dat u dit bestand wilt verwijderen?</p>

<dl>
    <dt>
        Bestandsnaam
    </dt>
    <dd>
        @Model.RemoveFile.UntrustedName
    </dd>
    <dt>
        Omschrijving
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RemoveFile.Note)
    </dd>
    <dt>
        Grootte
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RemoveFile.Size) bytes
    </dd>
    <dt>
        Toegevoegd op
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RemoveFile.UploadDT)
    </dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="RemoveFile.Id" />
    <input type="submit" value="Verwijder" style='background: #cad50c' class="btn btn-primary border-0" />
    <a asp-area="" asp-controller="Ticket" asp-action="Index" class="btn btn-secondary border-0">Terug</a>
</form>
