@model projecten2.Models.ViewModels.ContractEditViewModel

@{ ViewData["Title"] = "Create"; }

<h1>Nieuw contract afsluiten</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContractTitel" class="control-label"></label>
                <input asp-for="ContractTitel" class="form-control" />
                <span asp-validation-for="ContractTitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDatum" class="control-label"></label>
                <input asp-for="StartDatum" class="form-control" />
                <span asp-validation-for="StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoorloopTijd" class="control-label"></label>
                <select asp-for="DoorloopTijd" class="form-control">
                    <option value="">-- Aantal jaar --</option>
                    <option value=1>1 jaar</option>
                    <option value=2>2 jaar</option>
                    <option value=3>3 jaar</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ContractTypeId" class="control-label"></label>
                <select asp-for="ContractTypeId" asp-items="@(ViewData["contractTypes"] as SelectList)" class="form-control">
                    <option value="">-- Contract type --</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Contract aanmaken</button>
                <a asp-action="Index" class="btn btn-secondary">Terug</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


