@{ ViewData["Title"] = "Contracten"; }

<h1 class="display-4 font-weight-normal">Contract stopzetten</h1>
<hr />
<h4 class="lead font-weight-normal">
    Bevestig het stopzetten van contract @ViewData["ContractTitel"]...
</h4>

<form asp-action="Delete" method="post">
    <div>
        <button style='background: #cad50c' class="btn btn-primary border-0" type="submit">Contract stopzetten</button>
        <a asp-action="Index" class="btn btn-secondary">Terug</a>
    </div>
</form>