@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


    <div class="col-md-10 offset-md-1">
        <section>
            <div>
                <img src="~/images/Actemium-sidebar.png" alt="logo bedrijf" width="400" />
            </div>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Gebruikersnaam"></label>
                    <input asp-for="Input.Gebruikersnaam" class="form-control" />
                    <span asp-validation-for="Input.Gebruikersnaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Wachtwoord"></label>
                    <input asp-for="Input.Wachtwoord" class="form-control" />
                    <span asp-validation-for="Input.Wachtwoord" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.Wachtwoord_onthouden">
                            <input asp-for="Input.Wachtwoord_onthouden" />
                            @Html.DisplayNameFor(m => m.Input.Wachtwoord_onthouden)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
               
            </form>
        </section>
    </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
