@page
@model LogoutModel
@{ ViewData["Title"] = "Uitloggen"; }

<header>
    <div>
        <img src="~/images/Actemium-sidebar.png" alt="logo bedrijf" width="400" />
    </div>
    <h1>Bent u zeker dat u wilt uitloggen?</h1>
    @{ if (User.Identity.IsAuthenticated)
        {
<form class="form-group" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
    <button style='background: #cad50c' type="submit" class="btn btn-primary border-0 ">Uitloggen</button>
</form> }
            else
            {
<p>You have successfully logged out of the application.</p> } }
</header>