@{ ViewData["Title"] = "Tickets"; }

<h1 class="display-4 font-weight-normal" >Ticket annuleren</h1>
<hr />
<h4 class="lead font-weight-normal">
    Bevestig het annuleren van ticket @ViewData["Titel"]...
</h4>

<form asp-action="Delete" method="post">
    <div>
        <button style='background: #cad50c' class="btn btn-primary border-0" type="submit">Annuleer ticket</button>
        <a asp-action="Index" class="btn btn-secondary">Terug</a>
    </div>
</form>