@{ ViewData["Title"] = "Statistieken"; }
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Aantal actieve tickets per week</h3>
            <vc:grafiekactievetickets></vc:grafiekactievetickets>
        </div>

    </div>
    <div class="row">
    <div class="col">
    <h3>Totale tickets per week</h3>
    <vc:grafiektotaletickets></vc:grafiektotaletickets>
    </div></div>
    <div class="row">
    <div class="col">
    <h3>Gemiddelde oplostijd per ticket</h3>
    
    </div>
    </div>
    
    
</div>
        




